{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "quoteProps": "consistent",
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss",
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "importOrder": [
    ".css$",
    ".svelte$",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^[$]",
    "^[.]",
    "<TYPES>",
    "<TYPES>^[$]",
    "<TYPES>^[.]"
  ]
}
